footer.text-center
    p Coded By: Mohammed Ayman
    a(href="https://www.facebook.com/mohammed.ayman.75098")
        i.fab.fa-facebook-f
    a(href="https://twitter.com/Dev12M")
        i.fab.fa-twitter
    a(href="https://github.com/MohammedAyman2018")
        i.fab.fa-github
    p
    span © Untitled | Design: <a href="https://templated.co/">TEMPLATED</a> | Images: Unsplash
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
// Include all compiled plugins (below), or include individual files as needed
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
